* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --general-color: #3EC1D5;
}

body {
    background: #fff none repeat scroll 0 0;
    font-family: "Open Sans", sans-serif;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: var(--general-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    opacity: .7;
}

::selection {
    background: var(--general-color);
    text-shadow: none;
}

/* General */
.container {
    max-width: 1120px;
    margin: 0 auto;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

a:hover {
    color: var(--general-color);
    text-decoration: none;
}

/* Header */
header {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 0;
    width: 100%;
    z-index: 1;
}

/* Header logo */
header .logo h1 {
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}

header .logo h1 a {
    color: #fff;
    text-decoration: none;
}

header .logo h1 a span {
    color: var(--general-color);
}

/* Header nav */
header .nav-bar {
    float: right;
    margin-top: -27px;
}

header .nav-bar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

header .nav-bar ul li {
    float: left;
    display: inline;
    padding: 0 18px 0 18px;
}

header .nav-bar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 25px 0;
}

header .nav-bar ul li a:hover,
header .nav-bar ul li .active {
    color: var(--general-color);
}

/* Nav bar Drop Down */
.nav-bar .dropdown ul {
    display: inline-block;
    position: absolute;
    width: 15%;
    opacity: 0;
    margin: 0;
    z-index: 1;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    right: 10%;
}

.nav-bar .dropdown ul li {
    padding: 10px 20px;
}

.nav-bar .dropdown ul li a {
    color: #000;
}

.nav-bar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    right: 10%;
    visibility: visible;
}

.nav-bar .dropdown ul a:hover {
    color: var(--general-color);
}

/* Side nav */
.open-slide {
    float: right;
    margin-right: 20px;
    margin-top: -32px;
}

.open-slide a:hover {
    stroke-opacity: .8;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    padding-top: 100px;
    transition: 0.5s;
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: var(--general-color);
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 40px;
    margin-left: 50px;
    transition: all 1s ease 0s;
}

/* End of Header */

/* Showcase sliders */
.showcase {
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
    position: relative;
}

.showcase .slides {
    display: none;
}

.showcase .slides {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
}

.showcase .slider-container {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: auto;
}

.showcase .slider-container img {
    width: 100%;
    height: 100vh;
    filter: brightness(40%);
}

.showcase .previous,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #ccc;
    font-weight: bold;
    font-size: 28px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    cursor: pointer;
}

.showcase .previous:hover,
.showcase .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--general-color);
}

.showcase .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.showcase .slider-container .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    margin: 30px auto;
}

.showcase .slider-container .text h1 {
    font-size: 1.5em;
    margin: 30px auto;
}

.showcase .slider-container .text p {
    font-size: 38px;
    margin: 0 auto 30px auto;
    line-height: 1.2;
    font-weight: 700;
}

.showcase .btn-str {
    font-size: 18px;
    color: #fff;
    background: var(--general-color);
    font-weight: 500;
    margin: 10px;
    transition: 0.5s;
    border-radius: 50px;
    padding: 8px 32px;
    display: inline-block;
    letter-spacing: 0.05em;
}

.showcase .btn-str:hover {
    background: #fff;
    color: var(--general-color);
}

.showcase .dotted {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.showcase .dotted .dot {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 2.7px;
    margin: 0 2px;
    background-color: #bbb;
    transition: background-color 0.6s ease;
}

.showcase .dotted .dot:hover {
    background-color: var(--general-color);
}

.showcase .fade {
    animation-name: animation;
    animation-duration: 1.5s;
}

@keyframes animation {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* End of Showcase */


/* In General */
.about .container h1,
.services .container h1,
.special-team .container h1,
.portfolio .container h1,
.pricing .container h1,
.latest-news .container h1,
.contact .container h1 {
    text-align: center;
    font-size: 38px;
    color: #444;
    padding-bottom: 15px;
}

hr {
    width: 13%;
    height: 3px;
    background-color: #444;
    margin-left: 43.5%;
    margin-bottom: 35px;
}

/* About Ebusiness */
.about {
    padding-top: 75px;
    background-color: #f9f9f9;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.about .box {
    float: left;
    width: 50%;
}

.about .box img {
    width: 100%;
}

.about .pro-maintenance {
    color: #444;
    font-family: "Open Sans", sans-serif;
    padding-left: 15px;
}

.about .pro-maintenance a {
    text-transform: uppercase;
    text-decoration: none;
    color: #444;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.02em;
}

.about .pro-maintenance p {
    padding-top: 15px;
    color: #444;
}

.about .pro-maintenance ul {
    list-style-type: none;
    padding-top: 15px;
    font-weight: 100;
}

.about .pro-maintenance ul li {
    display: block;
    padding: 7px 0;
    font-size: 15px;
}

.about .pro-maintenance ul li i {
    color: var(--general-color);
    margin-right: 5px;
    font-size: 20px;
}

/* End of About */

/* Services */
.services {
    padding-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 130px;
}

.services .box {
    float: left;
    width: 33.33%;
    text-align: center;
    padding-top: 30px;
}

.services .box a {
    color: #444;
    display: inline-block;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 20px;
}

.services .box h2 {
    color: #444;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;
}

.services .box a:hover,
.services .box h2:hover {
    color: var(--general-color);
}

.services .box p {
    color: #333;
    font-size: 14px;
    line-height: 24px;
}

/* End of Services */

/* Special Team */
.special-team {
    padding-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.special-team .box {
    position: relative;
    float: left;
    width: 24%;
    text-align: center;
    border: 1px solid #ccc;
    margin: 4px;
    color: #555;
}

.special-team .box img {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.special-team .box:hover img {
    filter: brightness(40%);
}

.special-team .box:hover .image>a:after {
    opacity: 1;
}

.special-team .box:hover .social-media {
    top: 42%;
    opacity: 1;
}

.special-team .box .text {
    padding: 10px;
    font-size: 1vw;
}

/* Special Team Social media */
.special-team .social-media {
    left: 50%;
    top: 30%;
    margin-left: -67px;
    position: absolute;
    opacity: 0;
    transition: 1.3s;
}

.special-team .social-media ul li {
    display: inline-block;
}

.special-team .social-media ul li a {
    padding: 15px 0;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 34px;
    height: 24px;
    margin: 0 3px;
}

.special-team .social-media ul li a:hover {
    color: #fff;
    border: 1px solid var(--general-color);
    background: var(--general-color);
}

/* End of Special Team */

/* End about */
.end-about {
    background: url('../img/background/reviews-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    color: #fff;
}

.end-about .box {
    float: left;
    width: 50%;
    height: 59vh;
    text-align: center;
}

.end-about .box img {
    width: 100%;
}

.end-about .text {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    padding: 77px;
    width: 50%;
    text-align: left;
}

.end-about .text h2 {
    font-size: 24px;
}

.end-about .text p {
    padding: 7% 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
}

.end-about .text .btn {
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 13px 40px;
    text-align: center;
    transition: all 0.4s ease 0s;
}

.end-about .text .btn:hover {
    background-color: var(--general-color);
    border: 1px solid var(--general-color);
    color: #fff;
}

/* End of end about */

/* Our Portfolio */
.portfolio {
    padding: 75px 0;
}

.portfolio .links {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

.portfolio .links ul li {
    border: 1px solid #444;
    border-radius: 50px;
    color: #555;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    padding: 8px 24px;
    margin: 15px 15px 15px 0;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.portfolio .links ul li:hover,
.portfolio .links ul li.filter-active {
    background-color: var(--general-color);
    border-color: var(--general-color);
}

.portfolio .portfolio_images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 1.5rem;
}

.portfolio .single-img {
    position: relative;
}

.portfolio .single-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pro_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    text-align: center;
}

.portfolio .single-img:hover .pro_text {
    background: rgba(0, 0, 0, .8);
}

.pro_text h2 {
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    color: #ddd;
    text-transform: uppercase;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s ease-in-out;
}

.pro_text:hover h2 {
    opacity: 1;
    top: 45%;
}

.pro_text span {
    color: #fff;
    font-size: 13px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .40s;
}

.pro_text:hover span {
    opacity: 1;
    top: 54%;
}

/* End of Our Portfolio */

/* Pricing Table */
.pricing {
    background: rgba(0, 0, 0, 0.02) none repeat scroll 0 0;
    padding: 75px 0;
}

.pricing .box {
    border: 1px solid #ccc;
    text-align: center;
    transition: all .4s ease 0s;
    background: #fff;
    width: 30.33%;
    float: left;
    margin: 12px;
}

.pricing .box-header {
    position: relative;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #444;
    padding-bottom: 20px;
}

.pricing .box-header>h2 {
    font-size: 2vw;
    line-height: 25px;
    padding: 25px 0 10px 0;
    transition: all 0.4s ease 0s;
}

.pricing .box-center {
    background-color: #f6f6f6;
}

.pricing .box-center span {
    background: var(--general-color) none repeat scroll 0 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    left: -26px;
    top: 16px;
    padding: 3px 25px;
    position: absolute;
    transform: rotate(-45deg);
}

.pricing .box-content {
    color: #444;
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
}

.pricing .box-content ul {
    list-style: outside none none;
    margin: 0;
    padding: 0 0 25px;
}

.pricing .box-content ul li {
    list-style-type: none;
    padding: 12px 15px;
    border-bottom: 1px solid #ccc;
    color: #666;
    position: relative;
    display: flex;
    align-items: center;
}

.pricing .box-content ul li i {
    color: var(--general-color);
    margin-right: 5px;
    font-size: 24px;
}

.pricing .box-content li.del,
.pricing .box-content li.del i {
    color: #999;
}

.pricing .box .btn {
    border: 1px solid #444;
    border-radius: 30px;
    color: #fff;
    background-color: #444;
    display: inline-block;
    padding: 9px 35px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

.pricing .box .btn:hover {
    color: #333;
    background-color: #fff;
}

.pricing .box .active-pri {
    background-color: var(--general-color);
    border-color: var(--general-color);
}

.pricing .box .active-pri:hover {
    background-color: #222;
    color: #fff;
    border-color: #222;
}

/* End of Pricing Table */

/* Tribute Section */
.tribute {
    background: url("../img/background/slider-bg.jpg") no-repeat center center / cover;
    position: relative;
}

.tribute>.tri {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.inner_container {
    width: 500%;
    height: auto;
    overflow: hidden;
}

.tri_slider {
    text-align: center;
    width: 100%;
    margin-top: 70px;
    color: #fff;
    line-height: 2em;
    display: inline-flex;
    transition: all 1s;
}

.tri_box {
    margin: auto 60px;
}

.tri_box img {
    width: 100px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.3);
}

.tri_box h2 {
    font-weight: 200;
}

.tri_box p {
    font-weight: 100;
}

.tri_btns {
    text-align: center;
    padding-bottom: 100px;
    margin-top: 20px;
}

.tri_btns button {
    width: 13px;
    height: 13px;
    border: none;
    outline: none;
    border-radius: 50%;
    margin: 0 2px;
    background: #ddd;
    cursor: pointer;
    transition: all .5s;
}

.tri_btns button:nth-child(1) {
    background: var(--general-color);
}

/* Latest News */
.latest-news {
    padding-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.latest-news .box {
    float: left;
    width: 33.33%;
    padding: 12px;
}

.latest-news .box img {
    width: 100%;
}

.latest-news .text {
    color: #444;
    font-size: 15px;
    line-height: 22px;
    padding-top: 15px;
}

.latest-news .text a {
    color: #444;
    font-size: 24px;
}

.latest-news .text p {
    padding: 20px 0;
}

.latest-news .text .btn {
    border: 1px solid #444;
    border-radius: 30px;
    color: #444;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
    transition: all .4s ease 0s;
}

.latest-news .text .btn:hover {
    background-color: var(--general-color);
    color: #fff;
    border-color: var(--general-color);
}

/* End of Latest News */

/* EBusiness Company */
.wel-company {
    background-color: var(--general-color);
    padding: 30px 0;
    text-align: center;
    margin-top: 75px;
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
}

.wel-company .text {
    display: block;
    padding: 10px 40px;
}

.wel-company h3 {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    letter-spacing: 2px;
}

.wel-company .btn {
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: #fff;
    color: var(--general-color);
    text-align: center;
    display: inline-block;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.4s ease;
}

.wel-company .btn:hover {
    border: 2px solid #fff;
    background-color: var(--general-color);
    color: #fff;
}

/* End of EBusiness Company */


/* Contact Us */
.contact {
    padding: 75px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contact .icon {
    float: left;
    width: 33.33%;
}

.contact .icon p {
    margin: 0 7%;
}

.contact .icon i {
    font-size: 32px;
    color: var(--general-color);
    margin-bottom: 30px;
    line-height: 56px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contact .icon p {
    color: #444;
    font-size: 16px;
    font-family: "Open-sans" sans-serif;
    line-height: 30px;
}

.contact .box {
    padding-top: 30px;
    float: left;
    width: 48%;
}

.contact .iframe {
    margin-right: 15px;
    margin-bottom: 20px;
}

.contact .box input,
.contact .box textarea {
    padding: 12px 10px;
    margin: 7px;
    width: 100%;
    border-radius: 0;
    border: 1px solid #c7c3c3;
    box-shadow: none;
}

.contact .box textarea {
    resize: vertical;
    padding: 12px 15px;
}

.contact .box input:focus,
.contact .box textarea:focus {
    border-color: var(--general-color);
}

.contact .box button[type=submit] {
    background-color: rgba(0, 0, 0, 0);
    color: #444;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 12px 30px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/* End of Contact Us */


/* Footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
    background: #f9f9f9;
    color: #444;
}

.footer p {
    color: #444;
    font-size: 15px;
}

.footer h1 {
    color: #222;
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 20px;
}

.footer h4 {
    color: #444;
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    font-weight: 100;
}

.footer .box {
    float: left;
    width: 33.33%;
    padding: 0 8px;
}

.footer .box span {
    color: var(--general-color);
}

.footer .box ul li {
    display: inline-block;
    padding-top: 40px;
}

.footer .box ul li a {
    border: 1px solid #444;
    border-radius: 30px;
    text-align: center;
    color: #444;
    display: block;
    padding: 12px;
    font-size: 16px;
    height: 40px;
    line-height: 0;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease 0s;
}

.footer .box ul li a:hover {
    background-color: var(--general-color);
    color: #fff;
    border-color: var(--general-color);
}

.footer .box h5 {
    margin-top: 10px;
    padding-top: 10px;
    font-size: 15px;
    color: #444;
}

.footer .box img {
    width: 32%;
}

.footer-bottom {
    background: #f1f1f1 none repeat scroll 0 0;
    padding: 25px 0;
    text-align: center;
    width: 100%;
}

.footer-bottom p {
    color: #777;
    font-size: 15px;
}

.footer-bottom h4 {
    font-family: "Raleway";
    padding-top: 10px;
}

/* End of Footer */

/* Up arrow */
#up-arrow {
    position: fixed;
    bottom: 2%;
    right: 1.5%;
    background-color: var(--general-color);
    padding: 5px 6px;
    border-radius: 1px;
    transition: all .3s ease-in;
    cursor: pointer;
    opacity: 0;
}

#up-arrow a i {
    font-size: 28px;
    font-weight: 100;
    color: #fff;
}

#up-arrow:hover {
    opacity: 0.8;
}


/* Media Queries */
@media (max-width: 991px) {
    .nav-bar {
        display: none;
    }

    .container {
        max-width: 800px;
    }

    .end-about .box {
        width: 100%;
    }
}

@media (min-width: 991px) {
    .open-slide {
        display: none;
    }
}

/* Media Queries () */
@media (max-width: 816px) {
    .showcase .slider-container .text h1 {
        font-size: 1.2em;
    }

    .showcase .slider-container .text p {
        font-size: 22px;
    }

    .showcase .btn-str {
        font-size: 14px;
    }

    .container {
        max-width: 530px;
    }

    .special-team .box {
        width: 23%;
    }

    .pricing .box {
        width: 28%;
    }

    .contact .icon {
        float: none;
        display: inline;
    }

    .contact .box {
        width: 100%;
        padding: 10px;
    }

    .footer .box {
        float: none;
        width: 100%;
        margin-top: 50px;
    }

    .end-about img {
        height: 60vh;
    }
}

/* Media Queries () */
@media (max-width: 575px) {

    .about .box,
    .services .box,
    .special-team .box,
    .pricing .box,
    .latest-news .box {
        float: none;
        width: 100%;
    }

    .showcase .slider-container img {
        width: 100%;
        object-fit: cover;
    }

    .about .box {
        padding-top: 25px;
    }

    .special-team .box .text {
        font-size: 16px;
    }
}